body {
	font-family: Arial, Helvetica, sans-serif;
	margin: 0px;
}

.container {
    display: grid;
    grid-template-columns: 17% 83%;
}

#panel {
	background-color: bisque;
	padding: 8px;
}

#map {
	height: 100vh;
	width: 100%;
}

